/*font-family: 'PT Sans', sans-serif;*/
/*font-family: 'PT Serif', serif;*/
body {
font-family: "PT Sans";
font-weight: 400;
font-style: italic;
padding-bottom: 3em;
}

h1 {
font-family: "PT Sans";
font-weight: 700;
}

p {
	line-height: 3em;
	font: 1.5em;
	padding: 1em 0;
}

#pgSignUp {
	background-color: #0de9da;
/*	background-size: cover;*/
height: 100%
width: 100%;
padding: 1em 0;
}

#pgHomeDonate {
	background-color: #009c92;
}

#pgLeaderBoard {
	background-color: #0de9da;
}

#pgProfile {
	background-color: #009c92;
}


