body {
font-family: "PT Sans";
font-weight: 400;
font-style: italic;
padding-bottom: 2em;
/*background-color: #0de9da;*/
background-color: #f8f8f8;
}

.navbar {
	min-height: 0;
}

.a-page {
	padding: 2em 1em;
}

.btn-primary {
	margin: 2em 0;
	background-color: #ff7028;
}

h1 {
font-family: "PT Sans";
font-weight: 700;
color: #009c92;
}

h2 {
	text-align: center;
}

p {
	line-height: .7em;
	font-size: 1.5em;
	color: #000;
}
#logo-hero {
	margin: 2em 0;
}

#camera {
	margin: .2em auto;
	height: 300px;
  width: 300px;
  border-width: 5px;
  border-radius: 5px;
  border-color: #009c92;
  background-color: #0de9da;

  color: white;
  line-height: 300px;
	text-align: center;
	vertical-align: middle;
	font-size: 8em;
}

#profile-pic {
	display: flex;
}

#pro-pic {
	color: #009c92;
	font-size: 10em;
	margin: .2em;
}

#pg-HomeDonate {
	height: 666px;
/*	background-color: #009c92;*/
}

#leader-list {
	width: 80%;
	background-color: #0de9da;
	padding: 1.5em 1em 1em 1em;
	margin-top: 2em;
}

#pg-LeaderBoard {
	height: 668px;
}

#pg-Profile h1{
	margin: 1em 0;
/*	background-color: #009c92;*/
}


